var config = {};

config.env = 'dev';
config.host = 'localhost';
config.port = 3001;
config.hostname = '';
config.basePath = '/var/www/yourapp/';
 
// mysql
config.mysql = {};
config.mysql.host = 'localhost';
config.mysql.database = '';
config.mysql.user = '';
config.mysql.password = '';

// gmail
config.gmail = {};
config.gmail.username = '';
config.gmail.password = '';

config.email = {};
config.email.fromName = '';
config.email.fromEmail = '';
config.email.to = '';
config.email.subject = '';

module.exports = config;
