<form role="form" ng-submit="submit()" ng-controller="FormController">
    <h1 class="text-center">Ciao {{name}}!</h1>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-9">
                <label for="name">Your name</label>
                <input type="text" ng-model="name" id="name" class="form-control">
            </div>
            <div class="col-sm-3">
                <span ng-show="name" class="glyphicon glyphicon-ok nameGiven"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Image</label>
        <input type="file" name="file" class="form-control" file-model="file">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea ng-model="description" name="description" class="form-control"></textarea>
    </div>
    <div class="form-group" ng-repeat="field in form" ng-show="field.show || $first">
        <label>{{ field.label }}</label>
        <select ng-if="field.type == 'select'" ng-model="field.value" ng-change="showNextFields(field)" name="{{ field.name }}" id="{{ field.id }}" class="form-control">
            <option value=""></option>
            <option ng-repeat="option in field.options" value="{{ option.value }}">{{ option.label }}</option>
        </select>
        <input ng-if="field.type == 'text'" ng-model="field.value" type="text" name="{{ field.name }}" value="{{ field.value }}" id="{{ field.id }}" class="form-control">
        <input ng-if="field.type == 'hidden'" ng-model="field.value" type="hidden" name="{{ field.name }}" value="{{ field.value }}" id="{{ field.id }}" class="form-control">
        <textarea ng-if="field.type == 'textarea'" ng-model="field.value" name="{{ field.name }}" id="{{ field.id }}" class="form-control">{{ field.value }}</textarea>
        <div ng-if="field.type == 'radio'" ng-repeat="option in field.options" id="{{ field.id }}" class="radio">
            <label><input type="radio" ng-model="field.value" name="{{ field.name }}" value="{{ option.value }}"> {{ option.label }}</label>
        </div>
        <input ng-if="field.type == 'submit'" type="submit" name="{{ field.name }}" id="{{ field.id }}" value="Submit" class="btn btn-primary btn-lg btn-block" ng-disabled="fileUploading">
    </div>
</form>
